<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pokerclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.NETWORK_STATE"/> 
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" 
        android:name="Username">
        
        <activity
            android:name=".Splash"
            android:label="@string/title_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.pokerclient.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".TableTexas"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.pokerclient.TableTexas" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Login_Create"
            android:label="@string/title_login_create" >
            <intent-filter>
                <action android:name="com.pokerclient.LOGIN_CREATE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TableList"
            android:label="@string/table_list" >
            <intent-filter>
                <action android:name="com.pokerclient.TABLELIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
    </application>

</manifest>